<div style = "background-color: #ce2440; color: black; display: flex;align-items: center;justify-content:center;">
    <h1>Task Tracker</h1> <br />
    
</div>
<div style = "background-color: hsl(350, 88%, 60%); color :black; text-align: center;">
         <button type="button" class="btn btn-warning"> <a style = "font-size: larger;" [routerLink] = "['/GetTaskByID']">GetTaskByID</a></button> 
         <button type="button" class="btn btn-warning"> <a style = "font-size: larger;" [routerLink] = "['/GetAllTasks']">GetAllTasks</a> </button> 
         <button type="button" class="btn btn-warning"> <a style = "font-size: larger;" [routerLink] = "['/AddTask']">AddTask</a> </button> 
         <button type="button" class="btn btn-warning"> <a style = "font-size: larger;" [routerLink] = "['/assignTask']">Assign Task</a></button> 
         <button type="button" class="btn btn-warning"> <a style = "font-size: larger;" [routerLink] = "['/GetTaskByStatus']">GetTaskByStatus</a></button> 
         <button type="button" class="btn btn-warning"> <a style = "font-size: larger;" [routerLink] = "['/UpdateBookmark']">UpdateBookmark</a> </button> 
         <button type="button" class="btn btn-warning"> <a style = "font-size: larger;" [routerLink] = "['/UpdateNotes']">UpdateNotes</a> </button> 
         <button type="button" class="btn btn-warning"> <a style = "font-size: larger;" [routerLink] = "['/UpdatePriority']">UpdatePriority</a> </button> 
         <button type="button" class="btn btn-warning"> <a style = "font-size: larger;" [routerLink] = "['/DeleteTask']">DeleteTask</a> <br /></button> 
        
        
         
        
        
        
        
    
<router-outlet></router-outlet>
</div>


